/*--------------- Master Override --------------------------------*/

/*{
        border:1px dashed red;
    
    
    }
/*----------------------------------------------------------------*/


#slider img{
      
}


html, body {height: 100%;}

.new_footer h2{
    color:#fff;
    font-family:LeagueGothic;
}

#Content {
    height: auto;
    min-height: 400px;
    margin: 0px;
    margin-top: 30px;
    margin-bottom: 0px;
    background: #fff;
    color: #000;
    text-align: left;
    font-family: Helvetica;
}
#Content p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-left: 15px;
}
#Content_Header {
    background-image: url(Img/BlackDenimBack.jpg);
    margin: 0px;
    width: 100%;
    height: 200px;
    font-family: LeagueGothic, Helvetica;
    text-align: center;
    color: #fff;
}
#Content_Header_alt {
    background-image: url(Img/InfiniteSmooth.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2c3e50;
    margin: 0px;
    width: 100%;
    height: 200px;
    font-family: LeagueGothic, Helvetica;
    text-align: center;
    color: #fff;
}
#Content_Header h1 {
    font-size: 38px;
    margin-top: 50px;
}
#Content_Divider {
    margin-top: 10px;
    width: 98%;
    height: 1px;
    background: #a1a1a1;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 1px;
}
#debug a {
    font-family: Helvetica;
}
#div_container {
    display: grid;
    width: auto;
    height: auto;
    margin: 10px;
    margin-top: 20px;
    opacity: 1;
}
#profilePic {
    color: white;
    border-radius: 50%;
    width: 84px;
    height: 84px;
    background: #1f2c4c;
    margin-top: 10px;
}
#profilePic img {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    border: 1px solid black;
}
#profilePic p {
    margin-top: 20px;
    margin-left: 15px;
    float: left;
    font-size: 24px;
    font-weight: bold;
}
#toggleButton {
    color: white;
    font-size: 17px;
    font-family: Helvetica;
    margin-top: -30px;
    width: 150px;
    height: 50px;
    border: 0px;
    border-radius: 25px;
    border: 3px solid #3498db;
    background: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 3px;
}
#toggleButton:hover {
    background: #3498db;
    color: white;
}
/*----------------------------------------------------------*/

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    /*background-color: #2c3e50;*/
    background-color: rgba(0, 0, 0, 1);
}
::-webkit-scrollbar-thumb {
    background-color: #2980b9;
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #3498db;
}
#chrome {
    width: 250px;
    height: 60px;
    font-family: Segoe UI;
    font-weight: lighter;
    font-size: 32px;
    border: 1px solid rgba(0, 0, 0, 0);
}
#chrome:hover {
    border: 1px solid #3498db;
}
#mozilla {
    width: 250px;
    height: 60px;
    font-family: Segoe UI;
    font-weight: lighter;
    font-size: 32px;
    border: 1px solid rgba(0, 0, 0, 0);
}
#mozilla:hover {
    border: 1px solid #3498db;
}
/* Tool tips
-------------------------------------------------------------------------*/

div.tooltip {
    outline: none;
}
div.tooltip strong {
    line-height: 30px;
}
div.tooltip:hover {
    text-decoration: none;
}
div.tooltip span {
    z-index: 10;
    display: none;
    padding: 14px 20px;
    margin-top: 60px;
    margin-left: -160px;
    width: 300px;
    line-height: 16px;
}
div.tooltip:hover span {
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 9px 7px;
    display: inline;
    position: absolute;
    margin-top: -170px;
    color: #fff;
    background: #2c3e50 repeat-x 0 0;
}
.callout {
    z-index: 20;
    position: absolute;
    border: 0;
    top: -14px;
    left: 120px;
}
/*CSS3 extras*/

div.tooltip span {
    /*
    border-radius: 2px;
    box-shadow: 0px 0px 8px 4px #666;
    opacity: 0.8;*/
}