
#Content {
    
    height:auto;
    
    min-height:400px; 
    margin:0px;
    margin-top:30px;
    margin-bottom:0px; 
    background:#fff;
    color:#000;
    text-align: left;
    font-family:Helvetica; 
}
#Content p,h1,h2,h3,h4,h5,h6{
    margin-left:15px;
}
#Content_Header {
    background-image:url(Img/BlackDenimBack.jpg);
    margin:0px;
    width:100%;
    height:200px;
    font-family:LeagueGothic,Helvetica; 
    text-align: center;
    color:#fff;
}

#Content_Header_alt {
    background-image:url(Img/InfiniteSmooth.png);
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    background-color:#2c3e50; 
    margin:0px;
    width:100%;
    height:200px;
    font-family:LeagueGothic,Helvetica; 
    text-align: center;
    color:#fff;
}

#Content_Header h1{
    font-size:38px;
    margin-top:50px; 
}
#Content_Divider {
    margin-top:10px;
    width:98%;
    height:1px;
    background:#a1a1a1;
    box-shadow:rgba(0,0,0,0.5) 0px 0px 1px;
}

#debug a {
    font-family:Helvetica; 
}



#div_container {
    display:grid;
    width:auto;
    height:auto;
    margin:10px;
    margin-top:20px;
    opacity:1; 
    
}

#profilePic {
    color:white;
    border-radius:50%;
    width:84px;
    height:84px;
    background:#1f2c4c;
    margin-top:10px;
   
}

#profilePic img{
 width:84px;
 height:84px;
 border-radius:50%;
 border:1px solid black;

}

#profilePic p{
    margin-top:20px;
    margin-left:15px;
    float:left;
    font-size:24px;
    font-weight:bold; 
    
}

#toggleButton {
    color:white;
    margin-top:-30px;
    width:150px;
    height:50px;
    border:0px;
    border-radius:25px; 
    border:3px solid #3498db;
    background:rgba(0,0,0,0);
}

#toggleButton:hover {
   background:#3498db;
}
