/* Coustom Content
----------------------------------------------------------------------------------------------------------------------------------*/
@font-face{
   font-family:'LeagueGothic';
   src: url(Fonts/LeagueGothic-Regular.otf) format('OpenType');
        
}

@font-face{
   font-family:'FancyFont';
   src: url(Fonts/FancyFont.ttf) format('TrueType');
        
}


/* Element Content
----------------------------------------------------------------------------------------------------------------------------------*/
body{
    margin:0px;
    background:url(Img/TokyoNIghtBlured.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    color:#fff;
    font-family:LeagueGothic,Helvetica; 
}
a{
    text-decoration:none;
    color:#fff;
}
ol , ul{
    list-style:none;
    display:inline-block;
}


/* ID Content
----------------------------------------------------------------------------------------------------------------------------------*/

#IE_Waring_alt{
            background:#fff;
            position:fixed;
            bottom:10px;
            left:1%;
            width:300px;
            height:75px;
            border-radius:2px;
            box-shadow:#000 0px 0px 4px;
            font-family:Helvetica;
            color:#000;
        }
        
        #IE_Close_alt{
            width:10px;
            height:10px;
            margin-top:5px;
            margin-left:5px;
            background:url(Img/closebutton.png);
            background-size:contain;
            
        }

#IE_Waring{
            background:#fff;
            position:fixed;
            bottom:10px;
            right:1%;
            min-width:300px;
            width:auto;
            min-height:75px;
            height:auto;
            border-radius:3px;
            box-shadow:#000 0px 0px 7px;
            font-family:Helvetica;
            color:#000;
            opacity:0.7; 
                
        }
#IE_Waring p{
  margin-top:10px;
  margin-left:10px; 
}

#IE_Warning td{
    
} 


        
        #IE_Close{
            right:90%;
            width:10px;
            height:10px;
            margin-top:5px;
            margin-left:5px;
            background:url(Img/closebutton.png);
            background-size:contain;
             
            
        }


#Header_Logo_A {
    font-size:68px; 
    color:#fff;
    font-family:LeagueGothic,Helvetica;
    
}

#Header_Logo_B {
    font-size:38px;
    color:#fff;
    font-family:LeagueGothic,Helvetica;
    
}
#Nav_Menu {
    width:100%;
    color:#fff;
    font-size:38px;
    text-align:right;
    background:rgba(0,0,0,0.5);
}
#Nav_Menu a{
    margin-right:20px; 
    font-family:LeagueGothic,Helvetica;
    font-size:38px; 
}
#Nav_Menu a:hover{
    text-shadow:#fff 0px 0px 7px; 
}

#search_box {
    border:0px;
    border-radius:3px 0px 0px 3px; 
    margin-right:-6px; 
    background:rgba(255,255,255,1);
    height:24px;
    color:#a09292;
    margin-bottom:5px; 
}
#search_button {
    border:0px;
    margin:0px;
    border-radius:0px 3px 3px 0px;
    background:#313131;
    height:24px; 
    color:#fff;
    margin-bottom:5px; 
    margin-right:10px;
}

/* Class Content
----------------------------------------------------------------------------------------------------------------------------------*/









#footer {
    font-family:Helvetica;
    color:white;
    font-size:12px;
    background:rgba(0,0,0,0.5); 
    height:20px;
    
}
.new_Footer {
    width:100%;
    height:250px;
    font-family:LeagueGothic;
    margin-top:-5px;
    background:url("../../Img/BlackDenimBack.jpg");
    color:white;
    padding:0px; 
    
    
}

.new_Footer td , tr{
    width:500px;
    height:5px;
    text-align: center;
    
}

.new_Footer p , a {
    color:white;
    font-family:Helvetica;
    font-size:16px;
    text-decoration: none;
}
/* Footer Content
----------------------------------------------------------------------------------------------------------------------------------*/
#debug h2 {
    color:#fff;
    font-family:LeagueGothic; 
}

#Content_alt {
      height:auto;
    border-radius:6px;
    min-height:400px; 
    margin:0px;
   
    color:#000;
    text-align: left;
    
    font-family:Helvetica; 
}

#person_container {
    box-shadow:white 0px 0px 7px;color:black;
    width:250px;
    height:300px;
    opacity:100;
    background:#fff;
    margin-top:20px;
    margin:30px; 
    border-radius:3px;
    border:1px solid black; 
    
}



#header_text {
    font-size:21px;
    font-weight:bold;
}

#Staff_header {
    font-family:LeagueGothic;
    color:white;
    font-size:72px;
    text-shadow:rgba(0,0,0,1) 0px 0px 7px;
    background:rgba(255,255,255,0.2);
}

#descript_text {
    font-size:10px; 
}
