/* 
    Created on : Jul 31, 2015, 5:22:41 PM
    Author     : Draven
*/

body{
	background-image:url("Img/footer_lodyas.png");
	/**/
}

.jumbotron{
    background:url("IMG/Cover.png");
    background-position:center;
}


.twitterHolder{
    position:fixed;
    left:-300px;
    bottom:0;
    width:300px;
    height:400px;
    background:#333;
    border-radius:3px; 
    z-index:5; 
}

.gamesContainer{
    margin-left:60px;
}

.twitterOpener{
    position:fixed;
    width:64px;
    height:64px;
    left:0px;
    bottom:0;
    border-radius:2px; 
    background:url("Img/805145fa369a729b3a38ccd14417e569.png");
    background-size:cover; 
    z-index:5;
}

.gamesHeader{
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
    width:95%;
    height:200px;
    background:#ffffff; 
}



.gamesHeaderArtifact{
    width:128px;
    height:128px;
    background:url("Img/gameController.jpg");
    background-size:cover;
    background-position:center; 
    border:5px solid #ffffff;
    border-radius: 50%;
    margin-left:auto;
    margin-right:auto;
    position:absolute; 
    left:43%;
    z-index:2; 
}

.footer a{
    margin-right:10px; 
    color:#ffffff;
    font-family:LeagueGothic,Arial;
    font-size:48px;
}

.footer a:hover{
    border-bottom:1px solid #fff; 
}

.footerLogo{
    background:url("Img/logoLite.png");
    background-size:cover; 
    background-repeat:no-repeat;
	position:absolute;
	right:0px;
    width:400px;
    height:64px;
}

.footer .linkContainer{
    position:absolute;
    left:70px;
    margin-top:5px;
    font-family:LeagueGothic,Arial;
}

.footer{
	width:100%;
	height:64px; 
}


.content {
	/* padding-bottom:64px; /* Height of the footer element */
	background:url("Img/color6.png");
}

#caption{
    position:relative;
    top:90px; 
}

#mainContent{
    width:100%;
    padding-bottom:40px;
}

#whoami{
    width:98%;
    height:auto;
    min-height:400px;
    background:#000000;
    padding-top:1px;
    margin-left:10px; 
    margin-right:10px;
    color:#00FF00;
    font-family:Ubuntu,Lucida Console,monospace;
}

#whoami #banner{
    width:100%;
    height:48px;
    background:#333; 
    padding-top:5px;
}

#banner p{
    margin-top:15px;
    color:#a3a3a3;
}

#whoami p{
    margin-left:10px;
}



#articleContent{
    font-size:38px;
}
